#book body, p {
	margin: 0;
	padding: 0;
}

 #book body {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;

}

#book {
	background: url("livroo.png") no-repeat;
	position: absolute;
	width: 830px;
	height: 530px;
	left: 50%;
	top: 65%;
	margin-left: -400px;
	margin-top: -125px;
}

#pages section {
	background: url("paginaa.png") no-repeat;
	display: block;
	width: 370px;
	height: 470px;
	position: absolute;
	left: 415px;
	overflow: hidden;
	margin-top: 20px;
	border-radius: 30px;
}
	#pages section>div {
		display: block;
		width: 400px;
		height: 500px;
		font-size: 12px;
	}

	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
		font-size: 10pt;
		position: relative;
		left: -15px;
		top: -4px;
		color: #000;
	}

#pages section h2
{
margin: 15px 0 10px;
}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
}

#book img
{
	width: 50%;
	position: relative;
	left: 80px;
	top: 4px;
}

#book h1
{
position: relative;
left: -20px;
color: black;
}


#titulo
{position: relative;
left: 135px;}

#image
{
	width: 50%;
	position: relative;
	left: 90px;
	top: -10px;
}

#pages section p
{
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
		font-size: 10pt;
		position: relative;
		left: -12px;
		top: 2px;
	    color: #935600;
		width: 80%;
		clear: both;
	}


@media screen and (max-width: 1366px) and (min-width: 1025px)
{

#book{position: relative; top: -400px;}
}